*.scala linguist-vendored=true
*.kt linguist-vendored=true
*.groovy linguist-vendored=true
*.c linguist-vendored=false
*.cxx linguist-vendored=false
*.cpp linguist-vendored=false
*.c linguist-language=C


